*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.contact {
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    color: white;
    padding: 40px;
    font-size: 20px;
}

form {
    padding: 40px;
}

.inputField label {
    display: block;
    font-size: 22px;
    margin-bottom: 0.25rem;
}

.inputField input {
    width: 320px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.inputField {
    padding: 5px;
}

.error {
    font-size: 14px;
    color: red;
}

hr {
    height: 1px;
    border: none;
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    margin-bottom: 5px;
}

button {
    padding: 8px 20px;
    font-size: 14px;
    background: none;
    border:  1px solid #8a58b9;
    border-radius: 6px;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
    color: white;
    border: 1px solid #8a58b9;
}

.invalid {
    border: 1px solid #8a58b9;
}

.error-hidden {
    display: none;
}

.thanks {
    padding: 40px;
    text-align: center;
}

